
$black: #020300;
$zeus-brown: #291F1E;
$thunder-grey: #2F2E30; 
$sherwood-green: #023436;
$lapis-blue: #042784;
$ocean-blue: #0341EA;
$bright-blue: #0A65ED;
$carbon-grey: #626262;
$snow-white: #FCF7F8;
