$black: #020300;
$zeus-brown: #291F1E;
$grey-line: rgba(0,0,0,0.2);
$thunder-grey: #2F2E30; 
$sherwood-green: #023436;
$lapis-blue: #042784;
$ocean-blue: #0341EA;
$bright-blue: #0A65ED;
$carbon-grey: #626262;
$white-grey: #D4D4D4;
$snow-white: #FCF7F8;