%header-font{
    color: $snow-white;

    font-family: 'Balsamiq Sans';
    font-weight: normal;
    font-size: 1.7em;
}
%subheader-font{
    margin: 0.7em 0em;

    font-family: 'Roboto Slab';
    font-size: 1.5em;
}
%label-font{
    color:$thunder-grey;
    
    font-family: 'Ubuntu';
    font-size: 1em;
}