.frog-section {
    display: flex;
    justify-content: center;

    padding: 10px;
    border-bottom: 1px solid $grey-line;
    @include querie_tablet{
        grid-area: 1 / 1 / 3 / 3;
    }
    @include querie_laptop {
        align-items: center;
        width: 50vw;
        grid-area: 1 / 1 / 3 / 1;

        border-bottom: unset;
        border-right: 1px solid $grey-line;
    }
    &__image {
        height: 60vw;
        @include querie_laptop {
            height: 50vw;
        }
        @include querie_large_laptop{
            height: 40vw;
        }
    }
    &__image-container{
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;
    }
    &__sign-text{
        height: 30%;
        display: grid;
        align-items:center;
        width: 85%;
        left: 8%;
        top: 7%;
        position: absolute;
        overflow: hidden;
        background: transparent;
        outline: none;
        border: none;

        font-size: 3vw;
        filter: blur(1px);
        transform: rotate(6deg);
        font-family: "Roboto Mono", monospace;
        line-height: 1.2em;
        text-align: center;
        word-wrap: break-word;
        text-overflow: ellipsis;
        @include querie_laptop {
            font-size: 2vw;
        }
        @include querie_large_laptop{
            max-height: 11vw;
        }
    }
}