.grid-container{
    display: grid;
    
    @include querie_tablet{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include querie_laptop{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        min-height: 85vh;
    }
}