.header{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    width: 100%;
  
    height: 5rem;
    margin: 0;

    background: $thunder-grey;
    @include querie_extra_small_mobile{
        height: 7rem;
    }
    &__container{
        display: flex;
    }
    &__image{
        align-self: center;
        max-height: 3em;
        
        margin: 0.5em;
        @include querie_tablet{
            order: 2;
            max-height: 4em;
        }
    }
    &__heading{
        align-self: center;
        justify-self: center;
        
        @extend %header-font;

        @include querie_extra_small_mobile{
            margin-left: 1.5em;
        }
        @include querie_laptop{
            font-size: 2.3em;
        }
    }
}