.options {
    padding: 0 0.5em 0.5em;
    border-bottom: 1px solid $grey-line;
    &:last-child {
        border-bottom: 0;
    }
    @include querie_medium_mobile {
        display: grid;
        justify-content: center;
    }
    @include querie_tablet {
        display: grid;
        justify-content: center;
        grid-template-rows: 5em max-content auto;
        align-items: baseline;
        border-right: 1px solid $grey-line;
    }
    @include querie_laptop {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        justify-content: left;
        padding-bottom: 0;
        border-right: 0;
    }
    &__heading {
        @extend %subheader-font;
        @include querie_tablet {
            text-align: center;
            font-size: 1.9em;
        }

    }
    &__form {
        display: grid;
        padding: 0 0 0.3em 0.3em;

        font-size: 1.1em;
        @extend %label-font;

        &--advanced-options {
            grid-auto-rows: min-content;

            border: 1px solid $black;
            @include querie_medium_mobile {
                grid-template-columns: 43vw;
            }
            @include querie_laptop {
                height: 15em;
            }
        }
        @include querie_tablet {
            padding: 0;
        }
    }
    &__label {
        padding: 0.44em 0.3em;
    }
    &__input {
        height: 1em;

        color: $black;
        &::placeholder {
            color: $carbon-grey;
        }

        &--wide-text {
            @include querie_small_mobile {
                width: 11em;
            }
            width: 9em;
        }
        &--resolution {
            width: 3.7em;
            height: 1.1em;
        }
        &--small-number {
            width: 2.7em;
        }
        &--extra-small-number {
            width: 1.5em;
        }
    }
    &__select {
        color: $ocean-blue;

        cursor: pointer;
        user-select: contain;

        &--active {
            color: $thunder-grey;

            cursor: default;
        }
    }
    &__choose-panel {
        display: flex;

    }
    &__btn {
        //width, padding, border-radius
        background: $ocean-blue;
        color: $snow-white;

        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        &--settings {
            margin-right: 0.2em;
            @include button(auto,.7em,(2px 2px 0 0));
            &:last-child {
                margin: 0;
            }
            @include querie_laptop {
                padding: 1.5em;

                color: $carbon-grey;
                background: $white-grey;
            }
        }
        &--settings-active {
            background-color: $lapis-blue;
            @include querie_laptop {
                border: 2px solid $bright-blue;

                color: $bright-blue;
                background: $white-grey;
            }
        }
        &--set-default {
            white-space: nowrap;
            @include button(min-content,.7em,2px);
            @include querie_tablet {
                margin: 0 0 0.2em 0.3em;
            };

        }
        &--download {
            @include button(100%, 1em, 2px);
            margin: 0.5em 0;
            @include querie_medium_mobile {
                justify-self: center;
            }
        }
    }

}
